<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="shop-container">
			<!-- header -->
			<div class="header">
				<h1>City Shops</h1>
				<div class="btnQuit"><img class="close" src="img/close.png" alt="Quit" /></div>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="card">
					<img src="img/bread.png" alt="Hambergur" style="width:50%">-->
					<div class="container">
						<h4><b>Hambergur</b></h4> 
						<div class="quantity">
							<div class="plus-btn btnquantity" name="button" id="plus">
								<img src="img/plus.png" alt="" />
							</div>
							<div class="number" name="name">1</div>
							<div class="minus-btn btnquantity" name="button" id="minus">
								<img src="img/minus.png" alt="" />
							</div>
						</div>
						<div class="purchase">
							<div class="price">500$</div>
							<div class="buy">Purchase</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>

</body>